@using Glass.Mapper.Sc.Web.Mvc
@using Sc.Orm.Components.SynthesisExample.Models.UserDefined
@model Sc.Orm.Components.SynthesisExample.Models.UserDefined.INavigationItem


<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="@Model.Url">@Model.Title.RenderedValue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @foreach (var child in Model.Children.Cast<INavigationItem>())
        {
            <ul class="navbar-nav mr-auto">
                @if (child.Children.Any())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @child.Title.RenderedValue
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var childChild in child.Children.Cast<INavigationItem>())
                            {
                                <a class="dropdown-item" href="@childChild.Url">@childChild.Title.RenderedValue</a>
                            }
                        </div>

                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@child.Url">@child.Title.RenderedValue</a>
                    </li>
                }
            </ul>
        }
    </div>
</nav>